@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:  url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src:  url('/assets/fonts/Roboto-Bold.ttf');
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Ubuntu, Cantarell, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    color: rgba(2, 13, 3, 0.85);
    height: 100%;
}

.class_tooltip {
    opacity: 1 !important;
    box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.5), 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

input, textarea, a, button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Ubuntu, Cantarell, Arial, sans-serif;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #2979FF;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #2979FF, 0 0 5px #2979FF;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #2979FF;
    border-left-color: #2979FF;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
